@charset "utf-8";
/* CSS Document */
body{font-family:"微软雅黑";}
*{margin:0;padding:0;list-style:none;border:none;}
a{text-decoration:none;color:#292927;}
#wrap{width:100%;}
/*header*/
#header{width:100%;height:641px;}
#header #top{width:100%;height:59px;}
#header #top .logo{width:113px;height:59px;margin-left:43px;float:left;}
#header #top .menu{width:977px;height:59px;float:left;}
#header #top .menu .m_ul{width:977px;height:59px;float:left;}
#header #top .menu .m_ul li{margin-right:46px;line-height:59px;float:left;}
#header #top .menu .m_ul li a{color:#292927;font-size:16px;}
#header #top .menu .m_ul li a:hover{color:#e1b131;}
#header #top .search{width:120px;height:24px;margin:18px 0 20px 0;float:left;background:#ffeeab url(../img/search1.gif) no-repeat 91px 4px;}
#header #top .search #text{width:90px;height:17px;margin-left:4px;padding:0 auto;}
#header #banner{width:100%;height:582px;}
/*content*/
#content{width:100%;}
#content #main{width:1132px;height:390px;margin:0 auto;}
#content #main .left{width:566px;float:left;}
#content #main .right{width:566px;height:315px;background:url(../img/rbg.gif) no-repeat;float:right;}
#content #main .right .r_main{width:404px;height:193px;margin:69px 78px 52px 84px;}
#content #main .right .r_main .a{color:#fdd42d;font-size:18px;line-height:50px;}
#content #main .right .r_main .b{font-size:12px;line-height:20px;}
#content #main .right .r_main .c{width:45px;background:#fff;height:20px;margin:44px 12px 0 341px;font-size:12px;line-height:20px;text-align:center;border-radius:7px;}
#content #main .right .r_main .c:hover{background:#fdd42d;color:#fff;}
#content #main1{width:1025px;height:899px;margin:0 auto;}
#content #main1 .left{width:506px;height:899px;float:left;}
#content #main1 .left .ltp{width:449px;height:525px;}
#content #main1 .tp,.tp1,.chair{transition:transform 1.2s;}
#content #main1 .left .tp:hover,.tp1:hover{transform:translate(50px);}
#content #main1 .left .ltp p{margin-left:110px;margin-top:17px;}
#content #main1 .left .ltp1{width:449px;height:374px;}
#content #main1 .left .ltp1 p{margin-left:171px;margin-top:17px;}
#content #main1 .right{width:519px;height:899px;float:right;}
#content #main1 .right .chair{margin-top:225px;}
#content #main1 .right .chair:hover{transform:translate(-50px);}
#content #main1 .right p{margin-left:252px;margin-top:17px;}
#content #sbanner{width:1131px;height:391px;margin:0 auto;}
#content #main2{width:984px;height:492px;margin:0 auto;margin-bottom:75px;}
#content #main2 .left{width:311px;height:492px;margin-right:25px;float:left;transition:transform 1.2s;}
#content #main2 .left:hover{transform:scale(0.8,0.8);}
#content #main2 .left .top{width:311px;height:415px;}
#content #main2 .left .bot{width:311px;height:77px;background:#F1C221;}
#content #main2 .left .bot .cbot{width:146px;height:41px;margin:0 auto;padding-top:6px;}
#content #main2 .left .bot .cbot p{color:#fff;font-size:16px;line-height:41px;text-align:center;border:#fff 1px solid;}
#content #main2 .left .bot .b{font-size:12px;color:#fff;text-align:center;line-height:25px;}
#content #main3{width:932px;height:324px;margin:0 auto;}
#content #main3 .left{width:281px;height:324px;float:left;margin-right:44px;}
#content #main3 .left .top{width:281px;height:177px;margin-bottom:23px;position:relative;}
#content #main3 .left .top .style{width:281px;height:177px;font-size:14px;color:#fff;background:rgba(0,0,0,.3);line-height:177px;text-align:center;position:absolute;left:0;top:0;opacity:0;transition:2.3s;}
#content #main3 .left .top:hover .style{opacity:1;}
#content #main3 .left .bot{width:281px;height:124px;}
#content #main3 .left .bot p{font-size:12px;text-align:center;line-height:25px;}
#content #main3 .mleft{margin-right:0;}
/*footer*/
#footer{width:100%;height:412px;}
#footer .top{width:100%;height:362px;background:#cccbc5;}
#footer .bot{width:100%;height:50px;background:#f9d43c;}
#footer .top .top1{width:716px;height:153px;margin:0 auto;position:relative;}
#footer .top .top1 .rtop{position:fixed;top:540px;right:0;}
#footer .top .top1 .tleft{width:276px;height:153px;background:url(../img/fbg1.gif) no-repeat 0 60px;float:left;}
#footer .top .top1 .tright{width:440px;height:153px;background:url(../img/fbg.gif) no-repeat,url(../img/fbg1.gif) no-repeat 166px 60px;margin-left:276px;}
#footer .top .bot1{width:716px;height:210px;margin:0 auto;}
#footer .top .bot1 .bleft{width:536px;height:210px;float:left;}
#footer .top .bot1 .bleft ul{width:79px;margin-right:55px;float:left;}
#footer .top .bot1 .bleft ul li{width:79px;height:30px;line-height:30px;color:#FFF;font-size:12px;}
#footer .top .bot1 .bright{width:93px;height:210px;float:left;margin-top:10px;}
#footer .top .bot1 .bright .bt{width:93px;height:100px;}
#footer .top .bot1 .bright p{text-align:center;font-size:12px;color:#FFF;}
#footer .bot .bbot{width:600px;height:50px;margin:0 auto;margin-left:340px;}
#footer .bot .bbot p{float:left;line-height:32px;font-size:12px;;color:#FFF;margin:0 auto;margin-right:38px;}
/*content1*/
#content1{width:100%;}
#content1 #main{width:100%;height:361px;background:#e5e5e5;margin-bottom:65px;}
#content1 #main .main_1{width:1081px;height:331px;margin:0 auto;}
#content1 #main .main_1 .mll{width:548px;height:331px;float:left;}
#content1 #main .main_1 .mr{width:533px;height:331px;float:left;background:url(../img/cpbg.gif) no-repeat 138px 57px;}
#content1 #main .main_1 .mr .p1{margin:80px 0 50px 35px;}
#content1 #main .main_1 .mr .text{height:158px;margin:0 auto;}
#content1 #main .main_1 .mr .text p{font-size:14px;margin-left:35px;}
#content1 #main1{width:1028px;height:708px;margin:0 auto;position:relative;}
#content1 #main1 .m1{width:876px;height:207px;margin:0 auto;position:absolute;background:url(../img/wbg.gif) no-repeat;left:32px;;top:0;}
#content1 #main1 .m2{width:600px;height:207px;position:absolute;background:url(../img/wbg1.gif) no-repeat;left:300px;top:271px;}
#content1 #main1 .m3{width:352px;height:255px;position:absolute;background:url(../img/wbg2.gif) no-repeat;left:674px;top:385px;}
#content1 #main1 .m4{width:365px;height:243px;position:absolute;left:0;top:33px;z-index:3;}
#content1 #main1 .m5{width:366px;height:243px;position:absolute;left:333px;top:201px;z-index:3001;}
#content1 #main1 .m6{width:365px;height:243px;position:absolute;left:632px;top:367px;z-index:1;}
#content1 #main2{width:100%;height:361px;margin-top:58px;margin-bottom:100px;background:#f1f1f1;position:relative;}
#content1 #main2 .m2_1{width:1080px;height:188px;position:absolute;left:50%;top:50%;margin-left:-540px;margin-top:-96px;}
#content1 #main2 .m2_1 .item{width:115px;height:188px;float:left;}
#content1 .bt,.bt1{margin-top:56px;}
#content1 #main2 .m2_1 .item1{width:903px;height:188px;float:left;}
#content1 #main2 .m2_1 .item1 ul{width:903px;}
#content1 #main2 .m2_1 .item1 ul li{width:220px;float:left;}
#content1 #main2 .m2_1 .item1 ul li .cp{margin-left:62px;margin-top:20px;font-size:14px;}
#content1 #main2 .m2_1 .item2{width:62px;height:188px;float:left;}
/*content2*/
#content2 #main{width:971px;height:900px;margin:0 auto;}
#content2 #main dl{width:449px;height:453px;margin-right:73px;float:left;}
#content2 #main dl dt{width:449px;height:225px;}
#content2 #main dl .a{height:45px;text-align:center;color:#e0c40a;margin-top:20px;}
#content2 #main dl .b{width:340px;height:120px;margin:0 auto;text-align:center;font-size:14px;line-height:30px;}
#content2 #main1{width:100%;height:389px;background:#f7f7f7;margin-bottom:60px;position:relative;}
#content2 #main1 ul{width:1146px;height:286px;position:absolute;left:50%;top:50%;margin-left:-573px;margin-top:-143px;}
#content2 #main1 ul li{height:286px;float:left;margin-right:42px;}
#content2 #main1 ul .bt{width:62px;margin-top:97px;}
#content2 #main1 ul .jpg{text-align:center;margin-top:2px;margin-right:42px;}
#content2 #main1 ul .chair img{border:1px #dcdcdc solid;}
#content2 #main1 ul .chair:hover{transform:scale(0.8,0.8);}
#content2 #main2{width:825px;height:702px;margin:0 auto;margin-bottom:50px;}
#content2 #main2 .m1{width:800px;height:332px;margin:0 auto;}
#content2 #main2 .m1 dl{width:210px;height:288px;float:left;margin-right:85px;}
#content2 #main2 .m1 dl dt{width:210px;height:205px;transition:transform 1.2s;}
#content2 #main2 .m1 dl dd{width:210px;height:83px;text-align:center;line-height:120px;font-size:14px;}
#content2 #main2 .m2{width:825px;height:360px;}
#content2 #main2 .m2 dl{width:226px;height:360px;float:left;margin-right:70px;}
#content2 #main2 .m2 dl dt{width:226px;height:255px;transition:transform 1.2s;}
#content2 #main2  dl dt:hover{transform:scale(1.2,1.2);}
#content2 #main2 .m2 dl dd{width:226px;height:205px;text-align:center;line-height:120px;font-size:14px;}
/*content3*/
#content3{width:100%;}
#content3 #main{width:1058px;height:563px;margin:0 auto;}
#content3 #main dl{width:512px;height:479px;float:left;margin-right:34px;}
#content3 #main dl dt{width:512px;height:342px;}
#content3 #main dl .a{width:512px;height:67px;margin-left:36px;font-size:20px;line-height:67px;}
#content3 #main dl .b{width:374px;height:51px;margin-left:36px;font-size:12px;line-height:20px;}
#content3 #main dl .tag{width:36px;height:20px;float:left;margin-left:36px;}
#content3 #main1{width:1023px;height:992px;margin:0 auto;margin-bottom:68px;}
#content3 #main1 .mtop{width:1023px;height:467px;margin:0 auto;}
#content3 #main1 .mtop .m1{width:648px;height:467px;float:left;}
#content3 #main1 .mtop dl{width:375px;height:156px;margin-top:108px;float:left;}
#content3 #main1 .mtop dl dt{height:76px;line-height:78px;font-size:20px;}
#content3 #main1 .mtop dl .a{height:57px;line-height:20px;font-size:12px;}
#content3 #main1 .tag{width:36px;height:20px;float:left;}
#content3 .tag1{width:62px;height:20px;float:left;}
#content3 #main1 .mbt{width:1023px;height:397px;margin-top:128px;}
#content3 #main1 .mbt .m2{width:635px;height:397px;float:right;}
#content3 #main1 .mbt dl{width:355px;height:220px;float:left;margin-top:50px;}
#content3 #main1 .mbt dl dt{height:80px;line-height:80px;font-size:20px;}
#content3 #main1 .mbt dl .a{height:85px;line-height:20px;font-size:12px;}
#content3 #main2{width:756px;height:1330px;margin:0 auto;margin-bottom:50px;}
#content3 #main2 .mtop{height:645px;margin-bottom:40px;}
#content3 #main2 .mtop m1{height:437px;}
#content3 #main2  dl{width:473px;height:151px;margin:0 auto;}
#content3 #main2  dl dt{width:473px;height:80px;line-height:80px;font-size:20px;}
#content3 #main2  dl .a{height:56px;line-height:20px;font-size:12px;}
#content3 #main2 .tag{width:36px;height:20px;float:left;}
#content3 #main2 .mbt{width:756px;height:650px;margin:0 auto;}
#content3 #main2 .mbt .m2{height:423px;}
#content3 .mp{margin-top:30px;}
#content3 p:hover{background:#EFC20E;color:#fff;}
/*content3*/
#content4{width:100%;}
#content4 #main{width:100%;height:495px;background:url(../img/dbg.gif) repeat;position:relative;margin-bottom:58px;}
#content4 .bg{position:absolute;left:133px;top:67px;}
#content4 #main .m1{width:856px;height:275px;position:absolute;top:112px;left:276px;}
#content4 #main .m1 .m_1{width:410px;height:275px;float:left;}
#content4 #main .m1 .m_2{width:446px;height:275px;float:right;background:#FFF;}
#content4 #main .m1 .m_2 dl{width:384px;height:173px;margin-top:48px;margin-left:61px;}
#content4 #main .m1 .m_2 dl dt{height:48px;line-height:48px;font-size:18px;}
#content4 span{color:#e5c028;}
#content4 #main .m1 .m_2 dl dd{height:22px;line-height:28px;font-size:12px;margin-left:15px;}
#content4 #main1{width:100%;height:990px;background:url(../img/dbg.gif) repeat;margin-bottom:58px;}
#content4 #main1 .mct{width:652px;height:902px;margin:0 auto; padding-top:50px;}
#content4 #main1 .mct .item{width:652px; height:260px;margin-bottom:45px;}
#content4 #main1 .mct .item .dg{width:208px;height:260px;float:left;}
#content4 #main1 .mct .item .m1{width:444px;height:260px;float:left;background:#FFF;}
#content4 #main1 .mct .item .m1 dl{width:318px;height:152px;margin-left:48px;margin-top:45px;}
#content4 #main1 .mct .item .m1 dl dt{width:318px;height:54px;line-height:54px;font-size:18px;color:#e5c028;}
#content4 #main1 .mct .item .m1 dl dd{height:50px;line-height:20px;font-size:12px;}
#content4 #main2{width:100%;height:405px;background:url(../img/dbg.gif) repeat;margin-bottom:108px;}
#content4 #main2 .m2{width:1092px;height:226px;margin:0 auto;padding-top:80px;}
#content4 #main2 .m2 .m_1{width:84px;float:left;}
#content4 #main2 .m2 .m_1 img{margin-top:86px;}
#content4 #main2 .m2 .m_2{width:922px;height:225px;float:left;}
#content4 #main2 .m2 .m_2 dl{width:274px;height:226px;margin-right:50px;float:left;}
#content4 #main2 .m2 .m_2 dl dt{width:274px;height:172px;}
#content4 #main2 .m2 .m_2 dl dd{height:52px;line-height:52px;font-size:12px;text-align:center;background:#FFF;}
#content4 #main2 .m2 .m_3{width:84px;float:right;margin-top:86px;}
/*content5*/
#content5 #main{width:100%;height:502px;background:#f2f2f2;margin-bottom:58px;}
#content5 #main .m1{width:1083px;height:392px;margin:0 auto;padding-top:58px;}
#content5 #main .m1 .a1{width:342px;height:392px;margin-right:28px;background:#FFF;float:left;transition:box-shadow 1.2s;}
#content5 #main .m1 .a1:hover{box-shadow:0 3px 50px 3px #999;}
#content5 #main .m1 .a1 .a_1{width:288px;height:28px;padding-top:9px;margin:0 auto;}
#content5 #main .m1 .a1 .a_1 p{text-align:right;font-size:12px;line-height:28px;color:#d3a220;}
#content5 #main .m1 .a1 dl{width:288px;height:328px;margin:0 auto;border-top:#dcdcdc 1px solid;}
#content5 #main .m1 .a1 dl dt{width:288px;height:200px;margin-top:13px;}
#content5 #main .m1 .a1 dl dd{height:52px;line-height:52px;font-size:14px;text-align:center;}
#content5 #main .m1 .a1 dl .d1{height:44px;line-height:20px;font-size:12px;text-align:left;}
#content5 #main .m1 .a1 dl .d2{height:19px;font-size:12px;line-height:19px;text-align:right;}
#content5  a{color:#d3a220;}
#content5 #main1{width:100%;height:717px;margin:0 auto;background:#f2f2f2;position:relative;margin-bottom:58px;}
#content5 #main1 .m1{width:646px;height:568px;background:#fff;position:absolute;left:110px;top:72px;}
#content5 #main1 .m1 dl{width:501px;height:482px;margin:0 auto;padding-top:73px;}
#content5 #main1 .m1 dl dt{width:501px;height:346px;}
#content5 #main1  dl .a1{height:60px;font-size:16px;text-align:center;line-height:60px;}
#content5 #main1  dl .a2{height:40px;font-size:14px;text-align:center;line-height:20px;}
#content5 #main1  dl .a3{height:17px;font-size:12px;text-align:right;}
#content5 #main1 .bg{position:absolute;left:73px;top:17px;z-index:5;}
#content5 #main1 .m2{width:376px;height:350px;background:#fff;position:absolute;left:821px;top:158px;}
#content5 #main1 .m2 dl{width:316px;height:309px;margin:0 auto;padding-top:39px;}
#content5 #main1 .m2 dl dt{height:180px;}
#content5 #main2{width:918px;height:614px;margin:0 auto;margin-bottom:88px;}
#content5 #main2 .m1{height:306px;border-bottom:1px solid #dcdcdc;}
#content5 #main2 .m2{height:252px;margin-top:55px;}
#content5 #main2 .left{width:472px;height:252px;float:left;}
#content5 #main2 .right{width:446px;height:252px;float:left;}
#content5 #main2 .right dl{width:446px;height:191px;float:left;}
#content5 #main2 .right dl dt{height:100px;line-height:100px;}
#content5 #main2 .right dl dd{width:378px;height:91px;font-size:12px;line-height:25px;}
#content5 #main2 .right .b2{width:96px;font-size:12px;color:#666666;background:url(../img/nbg.gif) no-repeat left;padding-left:20px;float:left;}
#content5 #main2 .right .b3{width:96px;height:16px;font-size:12px;color:#666666;background:url(../img/nbg1.gif) no-repeat left;padding-left:20px;float:left;}
#content5 #main2 a:hover{color:#d3a220;}
/*content6*/
#content6 #main{width:100%;height:361px;background:#eaeaea;margin-bottom:58px;}
#content6 #main .m1{width:959px;height:319px;margin:0 auto;padding-top:21px;}
#content6 #main .m1 .left{width:572px;height:319px;float:left;}
#content6 #main .m1 .right{width:387px;height:319px;background:#FFF;float:left;}
#content6 #main .m1 .right .text{width:241px;height:183px;margin:0 auto;margin-top:64px;}
#content6 #main .m1 .right .text .a{width:241px;height:35px;font-size:14px;}
#content6 #main .m1 .right .text .c{width:52px;height:53px;margin-right:38px;margin-top:20px;float:left;}
#content6 #main1 .m2{width:100%;height:511px;background:url(../img/cbg.jpg) no-repeat;margin-bottom:58px;}
#content6 #main1 .m2 .cm{width:1009px;height:450px;margin:0 auto;padding-top:30px;}
#content6 #main1 .m2 .cm .in{width:481px;height:38px;border:1px #999 solid;background:url(../img/dh.gif) no-repeat 449px 5px;float:left;margin-right:43px;margin-bottom:30px;}
#content6 #main1 .m2 .cm .in p{width:60px;height:38px;line-height:38px;text-align:right;float:left;}
#content6 #main1 .m2 .cm .in .put{float:left;width:380px;height:38px;}
#content6 #main1 input{width:380px;height:38px;background:none;font-size:16px;}
#content6 #main1 .in1{background:url(../img/yj.gif) no-repeat 446px 8px !important;}
#content6 #main1 .in2{background:url(../img/lj.gif) no-repeat 446px 5px !important;}
#content6 #main1 .in3{background:url(../img/dz.gif) no-repeat 449px 5px !important;}
#content6 #main1 .m2 .ly{width:1009px;height:257px;border:1px #999 solid;margin-top:140px;}
#content6 #main1 .m2 .ly p{margin-top:8px;margin-left:10px;}
#content6 #main1 .m2 .ly textarea{width:822px;height:204px;margin-top:8px;margin-left:90px;background:none;font-size:16px;}
#content6 #main1 .m2 .bt{width:68px;height:38px;border:1px #999 solid;margin:0 auto;margin-top:20px;}
#content6 #main1 .m2 .bt input{width:68px;height:38px;cursor:pointer;}
#content6 #main2{width:100%;height:361px;background:#f8f8f8;margin-bottom:78px;}
#content6 #main2 .m1{width:997px;height:181px;margin:0 auto;padding-top:91px;}
#content6 #main2 .m1 dl{width:131px;height:181px;margin-right:157px;float:left;}
#content6 #main2 .m1 dl dt{width:131px;height:156px;}
#content6 #main2 .m1 dl dd{width:131px;height:25px;font-size:16px;text-align:center;line-height:25px;}
/*content7*/
#content7 #main{width:100%;height:672px;background:#eaeaea;margin-bottom:58px;}
#content7 #main p{margin-left:119px;padding-top:33px;margin-bottom:30px;}
#content7 #main .m1{width:998px;height:460px;margin:0 auto;}
#content7 #main .m1 .a1{width:428px;height:173px;margin-right:131px;margin-bottom:113px;float:left;}
#content7 #main .m1 .a1 .jpg{width:145px;height:173px;float:left;}
#content7 #main .m1 .a1 .intr{width:282px;height:173px;float:right;background:#FFF;}
#content7 #main .m1 .a1 .intr .p{width:282px;height:57px;border-bottom:1px #e0e0e0 solid;color:#e5c028;text-align:center;line-height:57px;cursor:pointer;}
#content7 #main .m1 .a1 .intr .q{width:216px;height:115px;font-size:12px;line-height:20px;text-align:left;margin:0 auto;padding-top:30px;}
#content7 #main1{width:916px;height:419px;margin:0 auto;margin-bottom:58px;}
#content7 #main1 .m1{width:262px;height:172px;margin-right:60px;border:1px solid #808080;background:url(../img/zp.gif) no-repeat 220px 130px;float:left;margin-bottom:50px;}
#content7 #main1 .m1 .c{width:183px;height:130px;margin:0 auto;}
#content7 #main1 .m1 .c .c1{width:183px;height:62px;margin:0 auto;border-bottom:1px solid #808080;line-height:62px;}
#content7 #main1 .m1 .c .c2{width:183px;height:35px;margin-top:10px;font-size:12px;line-height:35px;}
#content7 #main1 .m1 .c .c3{width:183px;height:21px;font-size:12px;}
#content7 #main2{width:880px;height:201px;margin:0 auto;margin-bottom:100px;}
#content7 #main2 .m1{width:372px;height:201px;margin-right:135px;background:#f9d43c;border-radius:20px;float:left;}
#content7 #main2 .m1 .d1{width:318px;height:35px;margin:0 auto;padding-top:28px;border-bottom:2px solid #FFF;color:#fff;}
#content7 #main2 .m1 .d2{width:315px;height:84px;margin:0 auto;}
#content7 #main2 .m1 .d2 ul{width:145px;height:84px;float:left;margin-top:10px;}
#content7 #main2 .m1 .d2 ul li{height:30px;background:url(../img/fl.gif) no-repeat 0 10px;}
#content7 #main2 .m1 .d2 ul li a{height:30px;font-size:14px;line-height:30px;color:#fff;margin-left:20px;}
#content7 #main2 .bg{background:#cfcfcf;}
#content7 #main2 .m1 .d2 ul .b{background:url(../img/fl1.gif) no-repeat 0 12px;} 
/*content8*/
#content8 #main{width:100%;height:421px;background:#f6f6f6;margin-bottom:58px;position:relative;}
#content8 #main .m1{width:1086px;height:340px;margin:0 auto;}
#content8 #main .m1 dl{width:282px;height:340px;margin-right:120px;padding-top:62px;float:left;}
#content8 #main .m1 dl dt{width:282px;height:261px;transition:box-shadow 1.2s;}
#content8 #main .m1 dl dt:hover{box-shadow:2px 2px 50px 0 #999;}
#content8 #main .m1 dl dd{width:282px;height:82px;line-height:82px;text-align:center;}
#content8 #main .bg{position:absolute;left:76px;top:40px;index:22;}
#content8 #main .bg1{position:absolute;left:479px;top:40px;index:22;}
#content8 #main .bg2{position:absolute;left:879px;top:40px;index:22;}
#content8 #main1{width:855px;height:800px;margin:0 auto;}
#content8 #main1 .m1{width:301px;height:374px;float:left;margin-right:163px;}
#content8 #main1 .m1 dt{width:301px;height:279px;transition:transform 1.2s;}
#content8 #main1  dt:hover{transform:scale(1.2,1.2) translate(50px);}
#content8 #main1 .m1 dd{width:301px;height:95px;line-height:95px;text-align:center;}
#content8 #main1 .m2{width:320px;height:308px;margin-top:109px;float:left;}
#content8 #main1 .m2 dt{width:320px;height:203px;transition:transform 1.2s;}
#content8 #main1 .m2 dd{width:320px;height:100px;line-height:100px;text-align:center;}
#content8 #main1 .m3{width:287px;height:376px;margin-left:48px;margin-right:241px;float:left;transition:transform 1.2s;}
#content8 #main1 .m3 dt{width:287px;height:282px;transition:transform 1.2s;}
#content8 #main1 .m3 dd{width:287px;height:94px;line-height:94px;text-align:center;}
#content8 #main1 .m4{width:279px;height:383px;float:left;}
#content8 #main1 .m4 dt{width:279px;height:310px;transition:transform 1.2s;}
#content8 #main1 .m4 dt:hover{transform:scale(1.2,1.2) translate(-50px);}
#content8 #main1 .m4 dd{width:279px;height:73px;line-height:73px;text-align:center;}
#content8 #main2{width:100%;height:530px;background:#f6f6f6;margin-bottom:88px;}
#content8 #main2 .m1{width:1010px;height:320px;margin:0 auto;padding-top:103px;}
#content8 #main2 .m1 dl{width:205px;height:320px;margin-right:62px;background:#fff;float:left;transition:transform 1.2s,box-shadow 1.2s;}
#content8 #main2 .m1 dl:hover{box-shadow:0 2px 70px 0 #999;transform:scale(1.1,1.1);}
#content8 #main2 .m1 dl dt{width:205px;height:256px;border-bottom:1px solid #aaaaaa;}
#content8 #main2 .m1 dl dd{width:205px;height:62px;line-height:62px;text-align:center;}
/*content9*/
#content9 #main{width:1060px;height:734px;margin:0 auto;margin-top:40px;margin-bottom:70px;}
#content9 #main .a{text-align:center;font-size:24px;}
#content9 #main .b{height:40px;line-height:40px;text-align:center;font-size:12px;color:#bbbbbb;}
#content9 #main .c{font-size:12px;width:506px;height:20px;line-height:20px;text-align:center;margin:0 auto;margin-bottom:66px;}
#content9 #main .m{width:1060px;height:568px;margin:0 auto;}
#content9 #main1{width:936px;height:360px;margin:0 auto;margin-bottom:100px;}
#content9 #main1 .left{width:442px;height:360px;float:left;}
#content9 #main1 .left .a{height:100px;line-height:100px;font-size:16px;}
#content9 #main1 .left .b{width:386px;height:76px;line-height:20px;font-size:12px;}
#content9 #main1 .right{width:494px;height:360px;float:right;}
#content9 #main2{width:796px;height:380px;margin:0 auto;margin-bottom:100px;}
#content9 #main2 .left{width:340px;height:380px;float:left;}
#content9 #main2 .right{width:416px;height:380px;float:left;}
#content9 #main2 .right .a{height:100px;line-height:100px;font-size:16px;text-align:center;}
#content9 #main2 .right .b{width:396px;height:120px;line-height:20px;font-size:12px;text-align:left;margin-left:80px;}
/*content10*/
#content10 #main{width:897px;height:675p;margin:0 auto;margin-top:20px;margin-bottom:80px;}
#content10 #main .a{font-size:18px;text-align:center;}
#content10 #main .time{height:65px;line-height:65px;color:#c5c5c5;font-size:12px;text-align:center;}
#content10 #main .c{height:40px;line-height:20px;font-size:12px;}
#content10 #main .d{height:40xp;line-height:20px;font-size:12px;}
#content10 #main .xw{width:649px;height:325px;margin:0 auto;margin-top:30px;}
#content10 #main .e{height:30px;line-height:30px;text-align:center;font-size:12px;margin-top:20px;}
#content10 #main1{width:904px;height:1128px;margin:0 auto;margin-bottom:58px;}
#content10 #main1 .a,.b,.c,.d,.e{height:40px;line-height:40px;font-size:12px;}
#content10 #main1 .news{width:649px;height:300px;margin:0 auto;margin-top:30px;margin-bottom:30px;}
#content10 #main1 .f,.g{height:40px;line-height:20px;font-size:12px;}
#content10 #main1 .td{width:648px;height:379px;margin:0 auto;margin-top:30px;margin-bottom:30px;}
#content11 #main{width:918px;height:540px;margin:0 auto;}
#content11 #main .a{font-size:18px;text-align:center;margin-bottom:30px;}
#content11 #main .b{height:60px;line-height:20px;}
#content11 #main .img{width:725px;height:333px;margin:0 auto;margin-top:30px;}
#content11 #main1{width:918px;height:496px;margin:0 auto;margin-bottom:60px;}
#content11 #main1 p{font-size:18px;text-align:center;margin-bottom:40px;}
#content11 #main1 .m{width:918px;height:425px;margin:0 auto;}
#content11 #main1 .m .left{width:358px;height:425px;float:left;}
#content11 #main1 .m .right{width:479px;height:425px;margin-left:80px;float:left;}
#content11 #main1 .m .right .a{font-size:18px;text-align:left;margin-top:40px;}
#content11 #main1 .m .right .b{font-size:12px;line-height:20px;text-align:left;}
#content11 #main2{width:965px;height:325px;margin:0 auto;margin-bottom:60px;}
#content11 #main2 .left{width:445px;height:325px;float:left;}
#content11 #main2 .left .a{font-size:18px;height:105px;line-height:105px;}
#content11 #main2 .left .b{width:408px;line-height:20px;font-size:12px;}
/*content12*/
#content12 #main{width:1034px;height:280px;margin:0 auto;margin-top:20px;margin-bottom:50px;}
#content12 #main .left{width:485px;height:280px;float:left;margin-right:82px;}
#content12 #main .right{width:466px;height:280px;float:left;}
#content12 #main .right .a{height:30px;font-size:18px;line-height:30px;}
#content12 #main .right .b,.d{height:30px;font-size:12px;line-height:30px;}
#content12 #main .right .c{height:30px;font-size:24px;line-height:30px;color:#eebe2b;}
#content12 #main .right .e{height:30px;font-size:16px;line-height:20px;}
#content12 #main1{width:794px;height:371px;margin:0 auto;margin-bottom:60px;}
#content12 #main1 .left{width:371px;height:371px;float:left;margin-right:110px;}
#content12 #main1 .right{width:313px;height:371px;float:left;margin-top:30px;}
#content12 #main1 .right .a{height:30px;line-height:30px;font-size:16px;margin-bottom:20px;}
#content12 #main1 .right .b,.gd,.d,.e{height:30px;line-height:30px;font-size:12px;}
#content12 #main2{width:815px;height:227px;margin:0 auto;margin-bottom:60px;}
#content12 #main2 .pr2,.pr3{float:left;margin-right:67px;}
#content12 #main2 .pr4{float:left;}
