@charset "utf-8";
/* CSS Document */
.title{width:161px;height:38px;margin:0 auto;background:url(../img/tbg.gif) no-repeat left,url(../img/tbg1.gif) no-repeat right;font-size:16px;padding:9px 0 0 92px;} 
.title .title1{font-size:12px;margin-left:2px;}
.mr{margin-right:0!important;}
.mt{margin-top:58px !important;}
.ml{margin-left:20px !important;}
#content3 a:hover{color:#e5c028;}
#content2 a:hover{color:#e5c028;} 
#content3  p{font-size:12px;text-align:center;line-height:20px;background:#e9e9e9;border-radius:3px;}
.fr{float:right!important;}
.sb{cursor:pointer;}